<!DOCTYPE html>
<html>
<head>
  <title>ToyExchange</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="grid-x grid-padding-x align-middle" id="header-bar">
    <div class="cell small-3">
      <% if current_user %>
        <%= link_to 'Add a Toy!', toys_new_path %>
      <% end %>
    </div>
    <div class="cell auto text-center">
      <h1><a href="/" class="logo-text">ThrifToy</a></h1>
    </div>
    <div class="cell small-3 text-right">
      <%- if current_user -%>
        <%= link_to image_tag(current_user.profile_photo_url(:avatar), id: 'avatar'), "/users/#{current_user.id}" %> | <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
      <%- else -%>
        <%= link_to 'Sign Up', new_user_registration_path %> | <%= link_to 'Sign In', new_user_session_path %>
      <%- end -%>
    </div>
  </div>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <p><%= value %></p>
    </div>
  <%- end -%>
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-center">
      <div class="cell small-12 medium-10">
        <%= yield %>
      </div>
    </div>
  </div>

  <%= javascript_include_tag 'application' %>

  <%- if Rails.env.development? || Rails.env.test? -%>
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>

  <%= yield :extra_footer %>
</body>
</html>
